@import '../../styles/colors';

.search-hero {
    align-items: center;
    color: white !important;
    display: flex;
    height: 600px;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;

    h1, h2, h3, p {
        color: white;
        text-align: center;
        text-shadow: 1px 1px $main-green-dark;
    }
}

.search-background {
    background: linear-gradient(45deg, $blue 0%, $main-green 70%, $secondary-green 100%);
    bottom: 0;
    height: 200%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-2.5deg);
    z-index: 1;
}

.search-container {
    position: relative;
    z-index: 2;
}

.search-intro {
    margin: 0 auto 10px auto;
    width: 70%;

    h1 {
        margin-bottom: 0 !important;
    }
}

.search-bar {
    box-shadow: $raised, 0 0 0px $purple-light;
    border-radius: 30px;
    display: flex;
    transition: all .3s;

    &:hover {
        box-shadow: $raised-hover;
    }

    form {
        flex: 1;
        
        input {
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            width: 100%;
        }
    }
}