$main-green: #09BC8A;
$main-green-dark: #05674C;
$secondary-green: #56E39F;
$secondary-green-dark: #2f7c57;
$blue: #00A5CF;
$blue-dark: #007997;
$purple: #453F78;
$purple-dark: #2c294d;
$purple-light: #77739c;
$black: #272727;

$raised: 0px 0px 10px -2px $black;
$raised-hover: 0px 5px 18px -4px $black;

.main-green {
    background-color: $main-green;    
    color: white !important
}

.secondary-green {
    background-color: $secondary-green;
    color: white !important
}

.blue {
    background-color: $blue;
    color: white !important
}

.blue-dark {
    background-color: $blue-dark;
    color: white !important;
}

.purple {
    background-color: $purple;
    color: white !important
}

.black {
    background-color: $black;
    color: white !important
}